/* Meny */
ul {
  background-color: #000000;
  color: #700000;
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
li{
  float: left;
}
li a{
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  font-family: sans-serif;
  display: inline-block;
  background-color: #000000;
  color: #9e0000;
  padding: 14px 16px;
  text-align: center;
}
li a:hover {
  background-color: #9e0000;
  color: #000000;
}
/* meny slut */
/* rubriker */
h1 {
  text-transform: uppercase;
  text-decoration: overline;
  text-align: center;
  font-size: 70px;
  font-family: sans-serif;
  text-shadow: 5px 5px #9e0000;
  font-variant: normal;
  background-color: #700000;
  color: #000000;
  margin: 0;
  padding: 20px;
}
h2 {
  text-transform: uppercase;
  text-decoration: overline;
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
  text-shadow: 2px 2px #9e0000;
  background-color: #700000;
  color: #000000;
}
h3 {
  text-transform: uppercase;
  text-decoration: overline;
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
  text-shadow: 2px 2px #9e0000;
  background-color: #700000;
  color: #000000;
}
/* ribriker slut */
body {
  background-color: #700000;
  color: #000000;
  margin: 0px
}
p {
  font-family: sans-serif;
  font-size: 15px;
  text-align: center;
  background-color: #700000;
  color: #000000;
}
/* classer och id */
.float-left {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}
.float-right {
  float: right;
  margin-right: 20px;
  margin-left: 20px;
}

.toppen{
  text-transform: uppercase;
  text-decoration: overline;
  font-size: 20px;
  font-family: sans-serif;
  text-shadow: 2px 2px #9e0000;
  background-color: #700000;
  color: #000000;
}
div {
  text-align: center;
}
/* bilder till roller och skådespelare*/
div.gallery1 {
  margin: 5px;
  border: 2px solid #000000;
  width: 300px;
  float: left;
}

div.gallery2 {
  margin: 5px;
  border: 2px solid #000000;
  width: 300px;
  float: right;
}

div.gallery1 img {
  width: 300px;
  height: auto;
}

div.gallery2 img {
  width: 300px;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
